<h2>Welcome to your Blig!</h2>
<% if can? :manage, Post.new %>
<%= link_to 'Create a new post', new_post_path %><br>
<% end %>
<% controller.all_posts.each do |post| %>
<strong><%= post.title %></strong><br>
<%= post.body %><br>
Published: <%= post.created_at %><br>
<% end %>
